<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
</head>
<body>
<h1>Создание нового пользователя</h1>

<form th:action="@{/admin}" th:object="${user}" method="post">
    <div>
        <label>Имя:</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>Username:</label>
        <input type="text" th:field="*{username}">
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" th:field="*{password}">
    </div>
    <button type="submit">Создать</button>
</form>

<a th:href="@{/admin}">Назад</a>
</body>
</html>